/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

ul{
    list-style: none;

}

body{
    font-family: Arial, Helvetica, sans-serif;
}

li{
    display: inline-block;
    padding: 0 15px;
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    border: none;
}


/* utlis */

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

}

/* debug */

.debug{
    min-height: 80px;
    background-color: rgb(216, 163, 98);
    padding: 2rem;
}


/* top bar */

.top_bar{
    /* min-height: 100px; */
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.left-part{
    display: flex;
    flex: 0 0 50%;
    justify-content: left;
   
    align-items: center;
    gap: 50px;
}

.left-part img{
    
}


.right-part{
    display: flex;
    flex: 0 0 50%;
    justify-content: right;
    align-items: center;
    gap: 50px;
}


.btn-blue{
    padding: 5px 15px;
    background-color:#0157ff ;
    color: aliceblue;
    font-size: 1rem;
}

/* main */

/* hero_section */


.hero_section{
    background-color: #b4d0e7;
    padding-top: 70px;



}

.titolo{
    font-size: 2.45rem;
    font-weight: 900;
    padding-bottom: 50px;
}

.hero-section-main{
    display: flex;
    justify-content: space-between;
}

.hero-section-main i{
    font-size: 3.5rem;
    
    padding-top: 40px;
}

.hero-section-descripion{
    flex: 0 0 30%;
    line-height: 1.5rem;
    font-size: 1.0rem;
    padding-top: 55px;
    
}

.hero-section-descripion button{
    margin: 40px 0;
    font-size: 1.2rem;
    padding: 15px 20px;

}


.hero-section-img{
    
    flex: 0 0 70%;

    position: relative;
    top: 60px;
}