/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

ul{
    list-style: none;

}

body{
    font-family: Arial, Helvetica, sans-serif;
}

li{
    display: inline-block;
    /* padding: 0 15px; */
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    border: none;
}


/* utlis */

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

}

.container_second{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;

}

/* debug */

.debug{
    min-height: 80px;
    background-color: rgb(216, 163, 98);
    padding: 2rem;
}


/* top bar */

.top_bar{
    /* min-height: 100px; */
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.top_bar li{
    padding: 0 15px 0 15px;
}

.left-part{
    display: flex;
    flex: 0 0 50%;
    justify-content: left;
   
    align-items: center;
    gap: 50px;
}

.left-part img{
    
}


.right-part{
    display: flex;
    flex: 0 0 50%;
    justify-content: right;
    align-items: center;
    gap: 50px;
}


.btn-blue{
    padding: 5px 15px;
    background-color:#0157ff ;
    color: aliceblue;
    font-size: 1rem;
}

/* main */

/* hero_section */


.hero_section{
    background-color: #b4d0e7;
    padding-top: 70px;



}

.titolo{
    font-size: 2.45rem;
    font-weight: 900;
    padding-bottom: 50px;
}

.hero-section-main{
    display: flex;
    justify-content: space-between;
}

.hero-section-main i{
    font-size: 3.5rem;
    
    padding-top: 40px;
}

.hero-section-descripion{
    flex: 0 0 30%;
    line-height: 1.5rem;
    font-size: 1.0rem;
    padding-top: 55px;
    
}

.hero-section-descripion button{
    margin: 40px 0;
    font-size: 1.2rem;
    padding: 15px 20px;

}


.hero-section-img{
    
    flex: 0 0 70%;

    position: relative;
    top: 60px;
}


/* <!-- BUISNESS CHE FA PER TE --> */

.second_section{
    padding: 170px 0 0 0 ;
}

.second-title{
    font-size: 2rem;

}


.fatturazione{
    display:flex;
    gap: 30px;
    padding:50px 0 ;

}

/* <!--I tre pachetti --> */

.pacchetti{

    display: flex;
    gap: 20px;
    justify-content: space-between;
    max-height: 1100px;
}

.Professional{
    width: calc(100%/3 - 40px);
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.Advanced{
    width: calc(100%/3 - 40px);
    border: 1px solid rgba(0, 0, 0, 0.50);

}

.Enterprise{
    width: calc(100%/3 - 40px);
    border: 1px solid rgba(0, 0, 0, 0.5);

}

/* <!-- logo e scritta iniziali --> */
.logo{
    border-bottom: 1px  solid rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 5px;
}

/* main pacchetti  */

.main-professional{
    padding: 50px 30px;
    line-height: 2rem;
}

.title-professional{
    
    line-height: 2rem;
}

.descrizione-pacchetto{
    padding-top: 30px;
}


.descrizione-pacchetto li{
    display: block;
    padding: 10px 0;
    line-height:1.5rem;
    
}



.descrizione-pacchetto span{
    color: rgba(0, 0, 0, 0.9);
}


/* .descrizione-pacchetto ul{
    list-style-image: url(../img/user-solid.svg)
} */

/* <!-- pulsante prova gratis --> */

.prova-gratis{
    padding: 30px 0;
}

.prova-gratis .btn-blue{
    padding: 10px 20px;
}

.link-acquista a{
    text-decoration-style: solid;
    color:#0157ff;

    text-decoration: underline;
}

.link-acquista p{
    display: inline-block;
    border-bottom: 2px solid rgba(0, 0, 0, 0.20);
    padding: 0 5px 40px 0;
}


.punti-salienti p{
    padding-top: 40px;
    font-weight: 700;
}

.punti-salienti li{
    display: block;
    padding: 10px 0;
    line-height:1.5rem;
    
}

.punti-salienti i{
    color: #006cff;
}